<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnshu.dreamteam.mapper.LessonMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="Lesson" type="com.jnshu.dreamteam.pojo.Lesson">
        <id column="id" property="id" />
        <result column="lesson_name" property="lessonName" />
        <result column="course_name" property="courseName" />
        <result column="subject_name" property="subjectName" />
        <result column="lesson_introduced" property="lessonIntroduced" />
        <result column="lesson_status" property="lessonStatus" />
        <result column="reward_star" property="rewardStar" />
        <result column="unlock_star" property="unlockStar" />
        <result column="unlock_cost" property="unlockCost" />
        <result column="course_id" property="courseId" />
        <result column="subject_id" property="subjectId" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
    </resultMap>
    
    <resultMap id="studentLessonDatum" type="com.jnshu.dreamteam.pojo.StudentLessonDatum">
        <result property="studentId" column="student_id"/>
        <result property="classId" column="class_id"/>
        <result property="buy" column="buy"/>
        <result property="enshrine" column="enshrine"/>
        <result property="datum" column="datum"/>
        <result property="lessonStatus" column="lesson_status"/>
    </resultMap>

    <!--public void selectAllLesson(IPage iPage);-->
    <select id="selectAllLesson" resultMap="Lesson">
      select *
      FROM lesson
      order BY update_at DESC

    </select>
    <!--public void selectLessonById(Long id);-->
    <select id="selectLessonById" resultMap="Lesson">
      SELECT *
      FROM  lesson
      WHERE  id = #{id}
    </select>

    <!--public void updateLesson(Lesson lesson);-->
    <update id="updateLesson">
        UPDATE lesson
        <set>
            <if test="lessonName != null and lessonName.trim() != ''">
              lesson_name = #{lessonName},
            </if>
            <if test="lessonIntroduced != null and lessonIntroduced.trim != ''">
              lesson_introduced = #{lessonIntroduced},
            </if>
            <if test="rewardStar != null ">
              reward_star = #{rewardStar},
            </if>
            update_at = #{updateAt}
        </set>
        where id = #{id}
    </update>

    <!--public void addLesson(Lesson lesson);-->
    <insert id="addLesson" keyProperty="id" useGeneratedKeys="true" parameterType="com.jnshu.dreamteam.pojo.Lesson">
        INSERT  INTO  lesson (lesson_name, lesson_introduced, reward_star, unlock_star, unlock_cost, course_id, subject_id, course_name, subject_name,create_at)
        VALUES (#{lessonName},#{lessonIntroduced},#{rewardStar},#{unlockStar},#{unlockCost},#{courseId},#{subjectId},#{courseName},#{subjectName},#{createAt})
    </insert>
    
    <!--IPage selectLessonFuzzy();-->
    <select id="selectLessonFuzzy" resultMap="Lesson">
        SELECT *
        FROM lesson
        <where>
            <if test="subjectName != null and subjectName.trim() != ''">
                and subject_name = #{subjectName}
            </if>
            <if test="courseLevel != null">
                and course_level = #{courseLevel}
            </if>
            <if test="courseName != null and courseName.trim() != ''">
                and course_name = #{courseName}
            </if>
            <if test="lessonStatus == 0 or lessonStatus == 1">
                and lesson_status = #{lessonStatus}
            </if>
            <if test="lessonName != null and lessonName.trim() != ''">
                and lesson_name like concat(concat('%',#{lessonName},'%'))
            </if>
        </where>
        order by update_at desc
    </select>

    <!--Boolean deleteLessonById(Long id);-->
    <delete id="deleteLessonById">
        DELETE
        FROM lesson
        WHERE id = #{id}
    </delete>

    <!--selectIdBySubjectIdAndCourseIdAndLessonName-->
    <select id="selectIdBySubjectIdAndCourseIdAndLessonName" resultType="java.lang.Long">
        SELECT id
        from lesson
        WHERE subject_id = #{subjectId} and course_id = #{courseId} and lesson_name = #{lessonName}
    </select>


    <select id="selectLessonByStudentId" resultMap="Lesson">
        SELECT l.id,l.lesson_name,l.subject_name,l.course_name,l.lesson_status
        FROM lesson AS l
        INNER JOIN student_lesson_datum AS sld ON l.id = sld.class_id
        WHERE sld.student_id = #{studentId} AND sld.enshrine = 1
    </select>

    <select id="selectDatumByStudentId" resultMap="Lesson">
        SELECT l.id,l.lesson_name,l.subject_name,l.course_name,l.lesson_status
        FROM lesson AS l
        INNER JOIN student_lesson_datum AS sld ON l.id = sld.class_id
        WHERE sld.student_id = #{studentId} AND sld.datum = 1
    </select>

    <select id="selectBuyLessonByStudentId" resultMap="Lesson">
        SELECT l.id,l.lesson_name,l.subject_name,l.course_name,l.lesson_status
        FROM lesson AS l
        INNER JOIN student_lesson_datum AS sld ON l.id = sld.class_id
        WHERE sld.student_id = #{studentId} AND sld.buy = 1
    </select>

    <select id="selectLessonName" resultMap="Lesson">
        select DISTINCT lesson_name from lesson
        WHERE subject_id = #{subjectId} and course_id = #{courseId}
    </select>
    
    <update id="updateStatus" >
      UPDATE lesson
      SET lesson_status = #{lessonStatus}, update_at = #{updateAt}
      where id = #{id}
    </update>

    <select id="selectLessonNameByCourseId" resultType="java.lang.String">
        select lesson_name
        from lesson
        where course_id = #{courseId}
    </select>

    <!--前台, 课时状态查询-->
    <insert id="inserStudentLesson">
      INSERT INTO student_lesson_datum (student_id, class_id)
      VALUES (#{studentId},#{classId})
    </insert>
    
    <select id="selectStudentLesson" resultMap="studentLessonDatum">
        select *
        from student_lesson_datum
        where student_id = #{studentId} and class_id = #{classId}
    </select>
    <!--前台, 修改课时状态-->
    <update id="updateStudentLesson">
        update student_lesson_datum
        <set>
            <if test="buy != null">
            buy = #{buy},
            </if>
            <if test="enshrine != null">
                enshrine = #{enshrine},

            </if>
            <if test="datum != null">
              datum = #{datum},
            </if>
            <if test="lessonStatus != null">
                lesson_status = #{lessonStatus}
            </if>
        </set>
        where student_id = #{studentId} and class_id = #{classId}
    </update>

</mapper>
