<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnshu.dreamteam.mapper.MissionContentMapper">

    <resultMap id="MissionContent" type="com.jnshu.dreamteam.pojo.MissionContent">
        <id column="mc_id" property="mcId"/>
        <result column="mission_id" property="missionId"/>
        <result column="content_step" property="contentStep"/>
        <result column="content_type" property="contentType"/>
        <result column="content" property="content"/>
    </resultMap>

    <insert id="addMissionContent" >
        insert INTO  mission_content(mission_id, content_step, content_type, content)
        VALUES (#{missionId}, #{contentStep}, #{contentType}, #{content})
    </insert>

    <!--Boolean delectMissionContentById(Long id);-->
    <delete id="delectMissionContentById">
        DELETE
        FROM mission_content
        where mission_id = #{missionId}
    </delete>
</mapper>
