<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnshu.dreamteam.mapper.MissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="Mission" type="com.jnshu.dreamteam.pojo.Mission">
        <id column="id" property="id" />
        <result column="mission_name" property="missionName" />
        <result column="mission_status" property="missionStatus"/>
        <result column="subject_id" property="subjectId"/>
        <result column="course_id" property="courseId"/>
        <result column="lesson_id" property="lessonId"/>
        <result column="subject_name" property="subjectName"/>
        <result column="course_name" property="courseName"/>
        <result column="lesson_name" property="lessonName"/>
        <result column="create_at" property="createAt"/>
        <result column="update_at" property="updateAt"/>
        <result column="grade" property="grade"/>
        <collection  property="missionContent" ofType="com.jnshu.dreamteam.pojo.MissionContent">
            <id column="mc_id" property="mcId"/>
            <result column="mission_id" property="missionId"/>
            <result column="content_step" property="contentStep"/>
            <result column="content_type" property="contentType"/>
            <result column="content" property="content"/>
        </collection>
    </resultMap>
    
    <!--<resultMap id="MissionContent" type="com.jnshu.dreamteam.pojo.MissionContent">-->
        <!--<id column="mc_id" property="mcId"/>-->
        <!--<result column="mission_id" property="missionId"/>-->
        <!--<result column="content_step" property="contentStep"/>-->
        <!--<result column="content_type" property="contentType"/>-->
        <!--<result column="content" property="content"/>-->
    <!--</resultMap>-->
    
    <select id="selectMissionNameByCourseId" resultType="java.lang.String">
        select mission_name
        FROM mission
        WHERE lesson_id = #{lessonId}
    </select>

    <insert id="addMission" useGeneratedKeys="true" keyProperty="id"  >
      INSERT  INTO mission (subject_id, course_id, lesson_id, mission_name, subject_name , course_name, lesson_name, create_at )
      VALUES (#{subjectId}, #{courseId}, #{lessonId}, #{missionName},#{subjectName},#{courseName},#{lessonName}, #{createAt})
    </insert>
    <!--List selectAllMission();-->
    <select id="selectAllMission" resultMap="Mission">
        SELECT m.*,mc.*,s.grade
        FROM mission m
        LEFT JOIN subject s
        ON m.subject_id= s.id
        LEFT JOIN mission_content mc
        ON m.id= mc.mission_id
        ORDER BY m.update_at DESC
    </select>
<!-- SELECT m.*, mc.content_step, mc.content_type,mc.content
        from mission m  , subject s
        left JOIN mission_content mc
        ON m.id = mc.mission_id
        WHERE s.id = m.subject_id
        ORDER BY m.update_at DESC-->
    <!-- Boolean updateMissionStatus();-->
    <update id="updateMissionStatus">
      update mission
      SET mission_status = #{missionStatus}, update_at = #{updateAt}
      where id = #{id}
    </update>
<!-- Boolean deleteMissionById(Long id);-->
    <delete id="deleteMissionById">
      DELETE
      FROM  mission
      where id = #{id}
    </delete>
<!--Mission selectMissionById(Long id);-->
    <select id="selectMissionById" resultMap="Mission"  >
      SELECT m.*, mc.content_step, mc.content_type,mc.content,s.grade
      FROM mission m
      LEFT JOIN subject s
      on s.id = m.subject_id
      LEFT JOIN  mission_content mc
      ON m.id = mc.mission_id
      WHERE m.id = #{id}
      order by mc.content_step, m.update_at
    </select>

    <!--      SELECT m.*, mc.content_step, mc.content_type,mc.content
      FROM mission m
      LEFT JOIN  mission_content mc ON m.id = mc.mission_id
      WHERE m.id = #{id}-->
<!--  Mission selectMissionStatus(Long id);-->
    <select id="selectMissionStatus" resultType="com.jnshu.dreamteam.pojo.Mission">
        select id, mission_status
        FROM mission
        WHERE id = #{id}
    </select>

<!-- IPage selectMissionByFuzzy();-->
    <select id="selectMissionByFuzzy" resultMap="Mission">
        SELECT *
        FROM mission
        <where>
            <if test="subjectName != null and subjectName.trim() != ''">
                and subject_name = #{subjectName}
            </if>
            <if test="courseLevel != null and courseLevel.trim() != ''">
                and course_level = #{courseLevel}
            </if>
            <if test="courseName != null and courseName.trim() != ''">
                and course_name = #{courseName}
            </if>
            <if test="lessonName != null and lessonName.trim() != ''">
                and lesson_name = #{lessonName}
            </if>
            <if test="missionName != null and missionName.trim() != ''">
                and mission_name like concat(concat('%',#{missionName},'%'))
            </if>
        </where>
        order by update_at desc
    </select>

    <update id="updateMissionNameById">
        UPDATE mission
        SET  mission_name = #{missionName},update_at = #{updateAt}
        where id = #{id}
    </update>
</mapper>
