<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnshu.dreamteam.mapper.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jnshu.dreamteam.pojo.Student">
        <id column="id" property="id" />
        <result column="student_account" property="studentAccount" />
        <result column="password" property="password" />
        <result column="nick_name" property="nickName" />
        <result column="grade" property="grade" />
        <result column="phone" property="phone" />
        <result column="state" property="state" />
        <result column="picture" property="picture" />
        <result column="star" property="star" />
    </resultMap>

</mapper>
