<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnshu.dreamteam.mapper.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jnshu.dreamteam.pojo.Student">
        <id column="id" property="id" />
        <result column="student_account" property="studentAccount" />
        <result column="password" property="password" />
        <result column="nick_name" property="nickName" />
        <result column="grade" property="grade" />
        <result column="phone" property="phone" />
        <result column="state" property="state" />
        <result column="picture" property="picture" />
        <result column="star" property="star" />
        <result column="create_at" property="createAt"/>
        <result column="study_lesson" property="studyingLesson" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="studentCheck" type="com.jnshu.dreamteam.pojo.StudentCheck">
        <id column="id" property="id"/>
        <result column="student_id" property="studentId"/>
        <result column="check_time" property="checkTime"/>
        <result column="check_day" property="checkDay"/>
    </resultMap>



    <select id="selectByAccountOrPhone" resultMap="BaseResultMap">
        SELECT * FROM student WHERE student_account = #{account} OR phone = #{account}
    </select>

    <select id="selectByMultiple" resultMap="BaseResultMap">
        SELECT s.*,sl.study_lesson
        FROM student AS s LEFT JOIN (SELECT s.student_account,count(sld.class_id) AS study_lesson
        FROM student AS s LEFT JOIN student_lesson_datum AS sld ON s.id = sld.student_id
        GROUP BY s.student_account) AS sl ON s.student_account = sl.student_account
        <where>
            <if test="nickName != null">
                AND s.nick_name = #{nickName}
            </if>
            <if test="account != null">
                AND s.student_account = #{account}
            </if>
            <if test="grade !=null">
                AND s.grade = #{grade}
            </if>
            <if test="state != null">
                AND s.state = #{state}
            </if>
            <if test="starMin != null">
                AND s.star &gt; #{starMin}
            </if>
            <if test="starMax!=null">
                AND s.star &lt; #{starMax}
            </if>
            <if test="studyLessonMin != null">
                AND study_lesson &gt; #{studyLessonMin}
            </if>
            <if test="studyLessonMax != null">
                AND study_lesson &lt; #{studyLessonMax}
            </if>
        </where>
    </select>


    <!--Student selectStudentCheckById(Long id);-->
    <select id="selectStudentCheckById" resultMap="studentCheck">
        SELECT  sc.student_id, sc.check_time, sc.check_day
        from student s
        LEFT JOIN student_check sc
        ON s.id = sc.student_id
        where s.id = #{id}

    </select>

    <!-- Boolean updateStudentCheck(StudentCheck studentCheck);-->
    <update id="updateStudentCheck">
        UPDATE student_check SET check_time = #{checkTime},check_day = #{checkDay} where student_id = #{studentId}

    </update>
    <!-- Long insertStudentCheck(StudentCheck studentCheck);-->
    <insert id="insertStudentCheck" useGeneratedKeys="true" keyProperty="id" parameterType="com.jnshu.dreamteam.pojo.StudentCheck">
        INSERT into student_check(student_id, check_time, check_day)
        VALUES (#{studentId},#{checkTime},#{checkDay})
    </insert>

    <!--向关系表中添加学生id和课程id的关系, 以保存收藏信息-->
    <insert id="addStudentCourseId" >
        INSERT into student_course(student_id,course_id)
        VALUES (#{studentId},#{courseId})
    </insert>

    <!--查看学生收藏的课程-->
    <select id="selectCourseByCollection" resultType="java.lang.Long">
        select *
        FROM student_course
        WHERE student_id = #{studentId}
    </select>

</mapper>
