<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnshu.dreamteam.mapper.SubjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="Sbuject" type="com.jnshu.dreamteam.pojo.Subject">
        <id column="id" property="id" />
        <result column="subject_name" property="subjectName" />
        <result column="subject_status" property="subjectStatus"/>
        <result column="grade" property="grade"/>
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
        <!--<collection property="grade" ofType="">-->
        <!--<result property="grade" column="grade" jdbcType="INTEGER"/>-->
    <!--</collection>-->
        <!--<collection property="grade" column="grade"/>-->

    </resultMap>

    <!--addSubject-->
    <insert id="addSubject" parameterType="com.jnshu.dreamteam.pojo.Subject" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO subject (subject_name,grade,create_at) VALUES (#{subjectName},#{grade},#{createAt})
    </insert>

    <!--updateSubject-->
    <update id="updateSubject" >
        UPDATE  subject
        <set>
            <if test="subjectName != null">
              subject_name = #{subjectName},
            </if>
            <if test="grade != null">
                grade = #{grade},
            </if>
            update_at = #{updateAt}
        </set>
        where id = #{id}
    </update>

    <!--SET subject_name = #{subjectName},-->
    <!--grade = #{grade},-->
    <!--update_at = #{updateAt}-->
    <!--selectSubject-->
    <select id="selectSubject" resultMap="Sbuject">
      SELECT subject_name, grade, subject_status
      FROM subject
      WHERE id = #{id}
    </select>

    <!--delectSubject-->
    <delete id="delectSubject">
      DELETE
      FROM subject
      WHERE id = #{id}
    </delete>

    <!--selectAllSubject-->
    <select id="selectAllSubject" resultType="com.jnshu.dreamteam.pojo.Subject">
        select id, subject_name,grade,subject_status
        FROM  subject
    </select>

    <!--selectSubjectStatusOrName-->
    <!--SELECT id, subject_name, grade, subject_status-->
    <select id="selectSubjectStatusOrName" resultType="com.jnshu.dreamteam.pojo.Subject">
        SELECT *
        FROM subject
        <where>
            <if test="subjectStatus != null">
             AND subject_status = #{subjectStatus}
            </if>
            <if test="subjectName != null ">
              and subject_name like concat(concat('%',#{subjectName},'%'))
            </if>
        </where>
        order by update_at desc
    </select>

    <!--Boolean updateSubjectStatus(Integer subjectStatus);-->
    <update id="updateSubjectStatus">
      UPDATE  subject
      <set>
          <if test="subjectStatus != null">
              subject_status = #{subjectStatus},
          </if>
          update_at = #{updateAt}
      </set>
      where id = #{id}
    </update>

    <select id="selectAllSubjectName" resultMap="Sbuject">
        SELECT DISTINCT subject_name from subject
    </select>

    <select id="selectIdByNameAndGrade" resultType="java.lang.Long">
      SELECT id
      from subject
      WHERE subject_name = #{subjectName} and grade = #{grade}
    </select>

</mapper>
